<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Index_Ticket", tickets_path %>
<%= link_to "New_Ticket", new_ticket_path %>

<%#= link_to "Show_Ticket", ticket_path(:id) %>
<%#= link_to "Edit_Ticket", edit_ticket_path(:id) %>
