<h1>Listing Tickets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.title %></td>
      <td><%= ticket.category %></td>
      <td><%= ticket.content %></td>
    </tr>
  <% end %>
</table>

